body { 
    text-align: center;
    font-size: 1.2em;
}

a img { border:none; }

.center {
	margin-left: auto;
	margin-right: auto;
	width: 40em;
}

.center table { 
	border: none;
	width: 100%;
}

ul { list-style-type: none; }
li {
    text-indent: -3em; 
    padding: 0;
    margin: 0;
}

th { width: 10em;}


.footer {
	width: 95%;
	border-top: 1px dashed black;
	margin-top: 1em;
	padding: .5em;
}

#donations h3, 
#donations form, 
#donations img { 
    display: inline;
}

.footer span { 
    display: inline-block;
    vertical-align: top;
}
